.logo {
    background-image: url("../icons/logo.png");
    display: inline-block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
}

@media screen and (max-width: 740px) {
    .logo {
        display: none;
    }
}