.pages {
    display: flex;
    width: 500px;
    height: 70px;
    margin: 50px auto;
    justify-content: center;
    &__box {
        display: flex;
        justify-content: center;
    }
    &__prev::before {
        content: "";
        display: inline-block;
        background-image: url("../icons/Group\ 7.svg");
        width: 70px;
        height: 70px;
        margin-right: 100px;
    }
    &__num {
        text-decoration: none;
        color: #ccc;
        font-size: 34px;
        padding-top: 15px;
        &:not(:nth-child(4)) {
            content: " ";
            margin-right: 35px;
        }
    }
    &__next::before {
        content: " ";
        display: inline-block;
        background-image: url("../icons/arrow-right.svg");
        width: 70px;
        height: 70px;
        margin-left: 100px;
    }
}