.slider {
    width: 600px;
    height: 700px;
    overflow: hidden;
}

@media screen and (max-width: 1468px) {
    .slider {
        width: 700px;
        height: 800px;
    }
}

@media screen and (max-width: 1040px) {
    .slider {
        width: 500px;
        height: 700px;
    }
}